<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<h3>Upcoming Trips:</h3>
<%= render 'show_trips', trips: @upcoming_trips %>

<h3>Previous Trips:</h3>
<%= render 'show_trips', trips: @previous_trips %>