<h1 class="welcome-banner text-center">Welcome to TripTrap!</h1>
<!-- TODO: Greet the current user! -->
<% if logged_in? %>
  <h2>Hi <%= current_user.name %></h2>
  <h3>Upcoming Trips:</h3>
  <%= render 'trips/show_trips', trips: @upcoming_trips %>
<% else %>
  <div class="col-md-4 col-md-offset-4 text-center">
    <h2>What's black and white and red all over?</h2>
    <h4> TripTrap! The solution for all your trip organizing needs.</h4>
    <p>
      You might not see it now, but that's because you haven't made a splendiferiffic account yet. Why should you, I hear you cry. Elementary, my dear Watson! Or whatever your name is. Have you ever wanted to go on a trip, but didn't want to go alone? Or you needed a driver, but didn't want it to be a total stranger? Enter TripTrap, the web app that allows you to choose your trip, choose a driver, and have fun!
    </p>
  </div>
<% end %>
