<h1 class="welcome-banner">Welcome to Sam's Uber Lite!</h1>
<!-- TODO: Greet the current user! -->
<% if logged_in? %>
  Hi <%= current_user.name %>
<% else %>
  <% link_to 'Log In', login_path %>
<% end %>
