<nav class="navbar navbar-inverse">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">TripTrap</a>
    </div>

      <a class="btn navbar-btn btn-default" href="/users">Users</a>
      <a class="btn navbar-btn btn-default" href="/trips">Trips</a>
      <!-- Add link to user's show page and log out button if logged in -->
      <% if logged_in? %>
        <a><%= link_to 'Log out', logout_path, method: :delete, class: 'btn navbar-btn btn-danger pull-right' %></a>
        <a><%= link_to current_user.name, current_user, class: 'btn navbar-btn btn-default pull-right' %></a>
        <a><%= link_to 'New Trip', new_trip_path, class: 'btn navbar-btn btn-default' %></a>
      <% else %>
        <a class='btn navbar-btn btn-success pull-right' href="/users/new">Sign up</a>
        <a class='btn navbar-btn btn-primary pull-right' href="/login">Log in</a>
      <% end %>
      <a class="btn navbar-btn btn-default pull-right" href="/">Home</a>
      <!-- Add log out link otherwise -->
      <span class="nav-sessions">
      </span>
</nav>
